@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");

/**************
1. Variables
***************/
:root {
    --light: #f2e9e4;
    --primary: #e7c29e;
    --accent: #daa26c;
    --dark: #77634a;
}

/***********
2. Global
************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lora", serif;
    min-height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
}

/**********
3. Layout
***********/

/********************
3.1. Navigation area
*********************/
#navbar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--dark);
    z-index: 100;
}

#navbar ul {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}

#navbar ul li {
    display: flex;
    align-items: center;
    list-style-type: none;
}

#navbar ul li a,
#navbar a {
    color: var(--primary);
    background-color: var(--dark);
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    /* padding: 1.5em 1em; */
    transition: all 400ms;
}

#navbar ul li a {
    padding: 1.5em 1em;
}

#navbar a:hover {
    color: var(--light);
}

#navbar ul li a:hover,
#navbar ul li a.current {
    filter: brightness(150%);
    color: var(--light);
}

/*******************
3.2. Home page
********************/
/*********************
3.2.1. Showcase area
**********************/
header {
    background: url(/src/img/showcase.jpg) center center;
    background-size: cover;
    background-color: var(--primary);
    background-blend-mode: multiply;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.3);
} */

header h1 {
    color: var(--light);
    z-index: 10;
    font-size: 3em;
}

/********************
3.2.2. Info area
*********************/
#home-info .info-content {
    justify-content: space-evenly;
    min-height: 50vh;
}

/**************************
3.2.3. Presentation area
***************************/
#presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 60vh;
}

#presentation .photos {
    margin: 2rem 0;
    display: grid;
    justify-content: center;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
}

/* #presentation .photos img {
    max-width: 300px;
} */

#gallery {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
}

/***********************
3.2.3. Contact area
************************/
#contact-home {
    margin-bottom: 3em;
}

#contact-home .data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 30vh;
}

/*******************
3.3. Main footer
********************/
#main-footer {
    /* position: absolute;
    bottom: 0; */
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    background-color: var(--dark);
}

/*******************
3.4. Gallery page
********************/
#gallery {
    margin: 2em 0;
}

/*******************
3.5. Structures page
********************/
.structures {
    background-image: url(../img/marble-dark.jpg);
    height: 70vh;
    flex-direction: column;
}

.structures h2 {
    color: var(--light);
}

#structures {
    margin-bottom: 3rem;
}

#structures h2 {
    margin: 2rem 0;
    font-size: 2.65rem;
}

#structures h3 {
    margin: 1rem 0;
    font-size: 1.9rem;
}

#structures .domain .prop {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#structures .domain .prop img {
    max-width: 300px;
    height: auto;
}

#structures .domain .prop .content {
    margin-left: 3rem;
}

#structures .domain .prop .content:nth-child(odd) {
    margin-right: 3rem;
    margin-left: 0;
}

/*******************
3.6. About page
********************/
.about {
    background-image: url(../img/ruschita1.jpg);
    height: 70vh;
    flex-direction: column;
}

#about {
    margin: 3rem 0;
}

#about h2 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

#about .prop {
    display: flex;
    align-items: center;
}

#about .prop p {
    margin-left: 2rem;
}

#about .prop p:nth-child(odd) {
    margin-left: 0;
    margin-right: 2rem;
}

#about .prop img {
    max-width: 400px;
    height: auto;
}

/*******************
3.7. Contact page
********************/
#myMap {
    width: 100%;
    height: 50vh;
}

main#contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#contact section {
    margin: 2em 1em;
}

#contact-form .contact-title {
    margin-bottom: 2em;
}

#contact-form .form-group {
    margin-bottom: 1.5em;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 2px var(--dark) solid;
    border-radius: 3px;
    transition: all 400ms;
}

#contact-form textarea {
    height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color: var(--accent);
}

#contact-form .data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 30vh;
}

#contact-info .team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-info .team h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

#contact-info .team .members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

#contact-info .team .members h3 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

#contact-info .team .members h4 {
    color: #444;
}

#contact-info .team .members .member img {
    height: 350px;
}

/**************
4. Components
***************/
.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    max-width: 100%;
    height: auto;
}

/* Aici vei pune proprietati generale */
.button {
    display: inline-block;
    font-size: 18px;
    color: var(--light);
    background: var(--dark);
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    transition: all 400ms;
}

.button:hover {
    background: var(--primary);
    color: var(--dark);
}

.button-light {
    background: var(--light);
    color: var(--dark);
}

/* aici culori */
.button-dark {
    background-color: var(--dark);
}

/**********
4.5. Cards
***********/
.card {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
    margin: 1rem 0;
    box-shadow: 0.2rem 0.2rem 0.4rem var(--dark);
    /* background-color: $dark-l-7; */
}

.card-top,
.card-body {
    padding: 1em;
}

.card-top {
    position: relative;
    /* padding-bottom: 1em; */
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

/****************
4.6. Typography
*****************/
.accent {
    color: var(--accent);
}

.dark {
    color: var(--dark);
}
#about-info h1 {
    padding-bottom: 3em;
}

#about-info p {
    padding-bottom: 1em;
}
